 .hero-section {
  position: relative;
  padding: 100px 0;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.custom-arrow {
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.hero-section h1,
.hero-section p,
.hero-section .rolling-text {
  position: relative;
  z-index: 1;
}

.rolling-text {
  animation: scrollText 20s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} 

